.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
}

.btn-container {
  display: flex;
  gap: 0.5rem;
}

.btn-container button {
  font-size: 1.2rem;
}
